@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&family=Montserrat:wght@400;500;700&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Alegreya', serif;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: 'Alegreya', serif;
  font-size: 2.2em;
  line-height: 1.1;
}

h3 {
  font-weight: 500;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto #474554;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
}

.main-container {
  padding: 2rem 2rem 8rem 2rem;
}

.home .main-container {
  text-align: center;
}

.stats .header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.stats .main-container .calendar-date-selector button {
  background: none;
  border-color: #646cff;
}

@media (min-width: 768px) {
  .main-container {
    padding: 3rem 3rem 3rem 9rem;
  }

  .stats .header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .stats .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 3rem 2rem;
    grid-template-areas:
      'header header header'
      'card-one card-two card-three'
      'switcher switcher switcher'
      'chart chart empty';
  }

  .stats .main-container .header {
    grid-area: header;
  }

  .stats .main-container .day-card-stats.excellent {
    grid-area: card-one;
  }

  .stats .main-container .day-card-stats.good {
    grid-area: card-two;
  }

  .stats .main-container .day-card-stats.awful {
    grid-area: card-three;
  }

  .stats .main-container .calendar-week {
    grid-area: switcher;
    width: 100%;
    max-width: initial;
  }

  .stats .main-container .chart {
    grid-area: chart;
    background: #f9f9f9;
    border-radius: 1rem;
  }

  .stats .main-container .empty {
    grid-area: empty;
    background-color: #646cff;
    color: #fff;
    border-radius: 1rem;
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .page-wrapper {
    flex-direction: row;
  }

  .main-container {
    width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
